html { background-color: #FFeaea; color: #555; height: 100%; padding: 0px; margin: 0px; overflow:hidden; text-align:center;}
    body { font-family: Arial, Calibri; width: 100%; margin: 0px; background-color: Black; padding: 0px; height: 100%;background-image: url('bg.png');}    
		
	input[type='range'].range {
		position: fixed;
		cursor: grabbing;
		width: 90% !important;
		-webkit-appearance: none;
		width:90%;
		border: 0px;
		background-color: #e6e6e6;
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#d2d2d2));
		background-image: -webkit-linear-gradient(right, #222222, #AAAAAA,#222222);
		background-image: -moz-linear-gradient(right, #222222, #AAAAAA,#222222);
		background-image: -ms-linear-gradient(right, #222222, #AAAAAA,#222222);
		background-image: -o-linear-gradient(right, #222222, #AAAAAA,#222222);
	}
		
	input[type='range'].range:focus{
		border: 0 !imporant; outline: none !important;
	}

	input[type='range'].range::-webkit-slider-thumb  {
		-webkit-appearance: none;
		width: 100px;
		height: 70px; background-color: #555;
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4DFFFF), to(#00CCFF));
		background-image: -webkit-linear-gradient(right,#000000, #00cc00,#00cc00,#000000);
		background-image: -moz-linear-gradient(right,#000000, #00cc00,#00cc00,#000000);
		background-image: -ms-linear-gradient(right,#000000, #00cc00,#00cc00,#000000);
		background-image: -o-linear-gradient(right,#000000, #00cc00,#00cc00,#000000);
	}
		
	input[type='range'].round {
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}
		
	input[type='range'].round::-webkit-slider-thumb  {
		-webkit-border-radius: 20px;	-moz-border-radius: 20px; -o-border-radius: 20px;
	}
		
	.horizontal-lowest-first
	{   
		-webkit-transform:rotate(0deg);       
		-moz-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		transform:rotate(0deg);
	}
				
	.vertical-heighest-first
	{
		-webkit-transform:rotate(270deg);       
		-moz-transform:rotate(270deg);
		-o-transform:rotate(270deg);
		-ms-transform:rotate(270deg);
		transform:rotate(270deg);
	}
	
	.servo1
	{
	top: 5%;
	left: 5%;
	}
	.servo2{
	top: 20%;
	left: 5%;
	}

	.servo3{
	top: 35%;
	left: 5%;
	}

	.servo4{
	bottom: 35%;
	left: 5%;
	}

	.servo5{
	bottom: 20%;
	left: 5%;
	}

	.servo6{
	bottom: 5%;
	left: 5%;
	}


        .noselect {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
