.pinID{
font-style: italic;
text-align: left;
color: #8b9b63;
width: 50%;
vertical-align: top; 
display: inline-block;
font-size:0.5em;
}
.grupa{
display: inline-block;
text-align: left;
color: #8b9b63;
font-style: italic;
font-weight: bold;
vertical-align: center;
width: 45%;
}
.Servo, .WiFi {display: inline-block;
    width: 95%;
    margin: 5px;
    border: 2px solid #73AD21; 
    border-radius: 10px; 
background-color: #004000;
font-size:2.0em;}
.WiFi{color: orange;
background-color: #a90000;
border: 2px solid orange;}
.Servos{
display: inline-block;
width: 95%;
background-color: #005000;
border: 2px solid #73AD21; 
border-radius: 10px; 
margin-bottom: 80px;
}
.faq{
    display: inline-block;
    color: #abb170;
    width: 30%;
    margin-left: 5px;
    }
.d {
display: inline-block;
 color: white;
width: 30%;
margin-left: 5px;
}
.r {
display: inline-block;
 color: white;
width: 50%;
margin-left: 5px;
}

#rc{
color: #8b9b63;
font-style: italic;
font-weight: bold;
}

input[type='number']{
display: inline-block;
width: 60%;
font-size: 1.0em
}

input[type='text']{
display: inline-block;
width: 80%;
font-size: 1.0em
}

input[type='checkbox'] {
display: inline-block;
vertical-align: center;
padding: 0;
  margin:0;
}

body {
background-image: url('bg.png');
width:100%;
        margin: 0px;
text-align: center;
color: #555;
background-color: black;

}
button,.button{
    background-color: transparent;
 
    height: 120px;
width: 120px; 
 background-repeat:no-repeat;
 background-size: 100% 100%;
 display: inline-block;
 font-weight: bold;
 border: none;
 color: #ffa200;
 -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    vertical-align: bottom;
    border-radius: 10%;
    background-color: #67844466;
    line-height: 175px;
    font-size:0.6em;
     white-space: nowrap;
  }
  
  button:hover,.button:hover {
    background-color: #c3bb15;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    
}
  /*font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}*/

.faqB{
    background-image:url('book.svg');
}
.load{
  background-image:url('load.svg');
}
.save{
  background-image:url('save.svg');
}
.temp{
  background-image:url('ok.svg');
}
.reboot{
    background-image:url('reboot.svg');
}
.restore{
    background-image:url('restore.svg');
}
.wifib{
    background-image:url('wifi.svg');
}

a{
    text-decoration: none;
    color: #f29468;
}
.note{
    color: #ff8686;
    font-style: italic;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
    color: #00c0ff;
}

@media only screen and (min-width: 900px) and (orientation: landscape) {
.pinID{
font-size:0.6em;
font-style: italic;
color: #8b9b63;

}
    .Servo, .WiFi {
        width: 170px;
        margin: 5px;
        border: 2px solid #73AD21; 
        border-radius: 10px; 
        font-size:1em;
    }
    .WiFi {
        width: 300px;
    }
    input[type='text']{
        width: 65%;
    }
	input[type='number']{
	display: inline-block;
	width: 60%;
	font-size:1em;
	}
    .Servos{
        margin-top: 80px;
    }
    button,.button{
        height: 80px;
        width: 80px;
        
    }
   /* 
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;

    }*/
}
